#logo-icons {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 150px auto 80px; }
  @media (min-width: 1800px) {
    #logo-icons {
      grid-template-columns: 250px auto 130px; } }

.logo {
  width: 150px;
  grid-column: 1/2; }
  @media (min-width: 1800px) {
    .logo {
      width: 250px; } }

.social-icons {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 40px 40px;
  position: fixed;
  right: 5px;
  top: 5px; }
  @media (min-width: 1800px) {
    .social-icons {
      grid-template-columns: 60px 60px;
      right: 10px;
      top: 5px; } }

.facebook {
  width: 30px;
  margin-right: 10px;
  grid-column: 1/2; }
  @media (min-width: 1800px) {
    .facebook {
      width: 40px; } }

.twitter {
  width: 30px;
  grid-column: 2/3; }
  @media (min-width: 1800px) {
    .twitter {
      width: 40px; } }

svg#facebook {
  z-index: 1000;
  fill: #eeeeee; }

svg#twitter {
  z-index: 1000;
  fill: #eeeeee; }

* {
  outline: none;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #ededed;
  color: #2a2a2a;
  font-family: 'Roboto', sans-serif; }

#header {
  height: max-content; }
  #header img {
    width: 100%;
    height: auto; }

.textContent {
  line-height: 1.8;
  width: 52%;
  margin: 100px auto; }
  @media (max-width: 700px) {
    .textContent {
      width: 90%; } }
  .textContent .dashed-link {
    font-weight: 400;
    color: #2a2a2a !important;
    padding-bottom: 2px;
    font-style: italic;
    border-bottom: 2px dashed #2a2a2a;
    text-decoration: none;
    font-size: 20px; }
    @media (max-width: 700px) {
      .textContent .dashed-link {
        font-size: 14px; } }
  .textContent .dashed-link-set-color {
    font-weight: 400;
    color: #2a2a2a !important;
    padding-bottom: 2px;
    font-style: italic;
    text-decoration: none;
    font-size: 20px; }
    @media (max-width: 700px) {
      .textContent .dashed-link-set-color {
        font-size: 14px; } }
  .textContent p, .textContent li {
    font-size: 20px; }
    @media (max-width: 700px) {
      .textContent p, .textContent li {
        font-size: 14px; } }
  .textContent li {
    margin-bottom: 10px; }
  .textContent h3 {
    font-size: 22px;
    margin-bottom: 60px; }
    @media (max-width: 700px) {
      .textContent h3 {
        font-size: 18px; } }
  .textContent h2 {
    margin-top: 50px; }

#graphics {
  color: #ededed;
  background-color: #2a2a2a;
  position: relative; }

.text {
  text-align: center;
  width: 90%;
  line-height: 1.8; }

.text-top {
  padding-top: 30px;
  margin: 20px auto 50px auto; }

.text-bottom {
  padding-bottom: 30px;
  margin: 20px auto 50px auto; }

h1 {
  font-size: 40px; }

p {
  font-size: 20px; }
  @media (max-width: 700px) {
    p {
      font-size: 14px; } }

a {
  text-decoration: none;
  font-weight: bold; }

button {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
  background-color: transparent;
  border: 2px solid #e1e1e1;
  color: #e1e1e1; }
  @media (max-width: 700px) {
    button {
      margin-right: 10px;
      font-size: 14px; } }

button.active {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #e1e1e1;
  color: #e1e1e1; }

#toolbar {
  z-index: 1;
  margin: 10px auto 50px auto;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content; }

#titles_group {
  display: flex;
  justify-content: space-between; }

#chart {
  width: 80%; }

svg text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-anchor: left;
  pointer-events: none;
  fill: white;
  font-weight: bold; }
  @media (max-width: 900px) {
    svg text {
      font-size: 13px; } }

#metal {
  display: block; }

#filter-metal {
  cursor: pointer; }

g#styles {
  pointer-events: all; }

#playPause, #playPause-mob {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 1em;
  z-index: 10000;
  cursor: pointer;
  pointer-events: all;
  margin-left: 20px;
  width: 30px; }

#playing-now {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 11px;
  display: grid;
  grid-template-columns: -webkit-max-content 60px;
  grid-template-columns: -moz-max-content 60px;
  grid-template-columns: max-content 60px; }
  @media (max-width: 700px) {
    #playing-now {
      display: none; } }

#playing-now-mob {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: -30px auto 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: -webkit-max-content 60px;
  grid-template-columns: -moz-max-content 60px;
  grid-template-columns: max-content 60px; }
  @media (min-width: 701px) {
    #playing-now-mob {
      display: none; } }

#playing-song, #playing-song-mob {
  font-size: 13px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  color: #7b7b7b; }

#tooltipText {
  font-weight: 200; }

#styleColorGuide {
  opacity: 0;
  position: absolute;
  right: 10%;
  list-style-type: none; }
  @media (max-width: 1000px) {
    #styleColorGuide {
      right: 5%; } }
  @media (max-width: 700px) {
    #styleColorGuide {
      display: none; } }
  #styleColorGuide li {
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0.8; }

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 100px auto 50px auto; }
  #footer h1 {
    width: max-content;
    margin: auto;
    color: #3a3a3a;
    font-size: 30px; }
  #footer img#logo {
    width: 20vw;
    min-width: 200px;
    margin: 20px auto; }

#social-texty-links {
  width: 200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between; }
  #social-texty-links div {
    display: flex;
    width: 70px;
    padding: 15px;
    border: 2px solid #3a3a3a;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5; }
  #social-texty-links div:hover {
    opacity: 1; }
  #social-texty-links a {
    margin: auto; }
  #social-texty-links img {
    width: 30px;
    align-self: center; }

/*# sourceMappingURL=styles.css.map */
